.HomeHero {
    width: 100%;
    opacity: 0.8;
    mask-image: linear-gradient(
        to bottom,
        rgb(9, 9, 9),
        rgba(75, 75, 75, 0.531)
    );
}

.HeroText {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 9vh;
    text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
    top: 30vh;
    left: 28vw;
    right: 0;
    bottom: 0;
}

