.RegisterPage {
    background: #6190e8; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #a7bfe8,
        #6190e8
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #a7bfe8,
        #6190e8
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Register {
    background-color: rgba(255, 255, 255, 0.768);
    padding: 5vh 4vw;
    border: 0px solid black;
    border-radius: 7%;
    box-shadow: 8px 9px rgba(84, 109, 184, 0.558);
}

.RegisterHeader {
    text-align: center;
    font-size: 4.5vh;
    margin-bottom: 2.5vh;
}

.RegisterForm {
    display: inline-block;
    width: 20vw;
}

.RegisterButton {
    margin-top: 2vh;
    margin-bottom: 3vh;

    width: 100%;
    font-weight: bold;

    background: rgb(65, 105, 225);
    padding: 1vh 1vw;
    background: linear-gradient(
        270deg,
        rgba(65, 105, 225, 1) 0%,
        rgba(64, 141, 205, 1) 100%
    );
    border: 1px solid rgb(210, 210, 210);
    color: white;
}

.RegisterButton:hover {
    background: rgb(106, 143, 253);
}

.RegisterButton:active {
    border: 1px inset gray;
    background: rgb(5, 29, 104);
}

.RegisterButton:disabled {
    background: rgb(65, 105, 225);
    border: 1px solid rgb(210, 210, 210);
    color: gray;
}

.Registered{
    font-weight: bold;

}
/* Video CSS */

.instructions {
    font-size: 0.9rem;
    border-radius: 0.9rem;
    background: rgba(255, 255, 255, 0.281);
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    padding: 0.3rem;
    position: relative;
    bottom: 0px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}
