.navbar{
  border-bottom:1px solid black ;
}

.navbar-brand{
  padding-left: 1vw;
  font-weight: bold;
}

.navbar-collapse{
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.App{
  background-color:rgb(144, 144, 144);
  height:100%
}

